@import url(http://fonts.googleapis.com/css?family=Rokkitt);

#wrapper {
    float: center;
    text-align: center;
    font-family: "Georgia",Times New Roman,Times,serif;
    font-size: 40px;
}

h1 {
    font-family:'Rokkitt', serif;
    text-align: center;
}
h2 {
    text-align: center;
    font-family: "Georgia",Times New Roman,Times,serif;
}
p {
    text-align: center;
    font-family: "Georgia",Times New Roman,Times,serif;
}

ul {
    list-style: none;
}
li {
    font-family:'Rokkitt', serif;
    font-size: 2em;
}
input[type=radio] {
    border: 0px;
    width: 20px;
    height: 2em;
}
p {
    font-family:'Rokkitt', serif;
    font-size: 20px;
}
/* Quiz Classes */
 .quizContainer {
    background-color: #86ecd4;
    border-radius: 6px;
    width: 75%;
    margin: auto;
    padding-top: 5px;
    position: relative;
}
.nextButton {
    border-radius: 6px;
    width: 150px;
    height: 40px;
    text-align: center;
    background-color: #ff6587;
    /*clear: both;*/
    color: #fdf394;
    font-family:'Rokkitt', serif;
    position: relative;
    margin: auto;
    padding-top: 20px;
}
.question {
    font-family:'Rokkitt', serif;
    font-size: 2em;
    width: 90%;
    height: auto;
    margin: auto;
    border-radius: 6px;
    background-color: #ff6587;
    text-align: center;
    color: #fdf394;
}
.quizMessage {
    background-color: peachpuff;
    border-radius: 6px;
    width: 30%;
    margin: auto;
    text-align: center;
    padding: 2px;
    font-family:'Rokkitt', serif;
    color: red;
}
.choiceList {
    font-family: Courier, serif;
    color: blueviolet;
}
.result {
    width: 30%;
    height: auto;
    border-radius: 6px;
    background-color: linen;
    margin: auto;
    text-align: center;
    font-family:'Rokkitt', serif;
    font-size: 20px;
}